.navbar {
    
    height: 100px;
  }
  
  .navbar a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    margin: 10px;
    line-height: 3;
    text-align: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  
  